  .qr-section{
    display:flex;
    flex-direction:column;
    background-color:rgb(255, 255, 255);
    align-items:center;
    margin: 2rem auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .box1{
    margin-top:1rem;
    object-fit: cover;
    width:auto;
    height: auto;
  }
  .box2{
    text-align:center;
    width:auto;
    padding: 2px 16px;
  }
  h2{ 
    color:#7d6c11;
    font-size: 2vw;
  }
  p{
    color:#0c3f01; 
    font-size:1.5vw;
  }
  i{
    color:#2e7d11;
  }
